<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.abbiecod.font"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />

    <application android:hasCode="false" android:icon="@drawable/ic_launcher" android:label="Open Dyslexic Fonts">
    </application>

    <meta-data android:name="org.cyanogenmod.theme.name" android:value="Open Dyslexic Fonts"/>
    <meta-data android:name="org.cyanogenmod.theme.author" android:value="Abelardo Gonzalez" />

</manifest>
